@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.cdnfonts.com/css/greek');


/* This file is for your main application CSS */
@font-face {
    font-family: "WorkSans";
    src: url("https://fonts.cdnfonts.com/css/greek");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WorkSans";
    src: url("https://fonts.cdnfonts.com/css/greek");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "CitrixSans";
    src: url("/fonts/citrixsans-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CitrixSans";
    src: url("/fonts/citrixsans-bold.ttf");
    font-weight: bold;
    font-style: normal;
}

.em_gradient{
    background-image: linear-gradient(to top, #e7e5e5, #c8c7c7, #6e6e6e, #4a4646);
    height: 225px;
}

.round-image-padding{
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
    padding: 4px;;
}

.img-down-arrow::after{
    content: "";
    position: absolute;
    right:-10px;
    top: 45%;
    transform: translate(-50%);
    border-width: 3px 3px 0 3px;
    border-color: white transparent transparent transparent;
    border-style: solid;
}

.dropdown-menu-arrow::before{
    content: "";
    position: absolute;
    top: -5px;

    left: calc(95% - 12px);
    transform: translate(-50%);
    border-width: 0 5px 5px 5px;
    border-color:  transparent transparent white transparent;
    border-style: solid;
}

.menu-item{
    @apply block px-4 py-2 text-sm text-white font-brand font-regular
}

.menu-item:hover{
    @apply hover:text-emDark-light
}

.pager-button{
    @apply flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 
}

.pager-button:hover{
    @apply hover:bg-gray-100 hover:text-gray-700  dark:hover:text-white  dark:hover:bg-gray-700
} 

.pager-button-selected{
    @apply flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white 
}

.pager-button-start{
    @apply pager-button rounded-l-lg
}

.pager-button-end{
    @apply pager-button rounded-r-lg
}

.pagination-nav{
    @apply flex items-center justify-between p-2 
}

/* Apply styles to the ::before pseudo-element */



.greek-date-input {
    /* @apply relative text-white text-sm h-8 border rounded-lg w-32 */
    
    position: relative;
    width: 150px; height: 20px;
    color: white;
}

.greek-date-input:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: black;
    padding-left: 14px;
}

.greek-date-input::-webkit-datetime-edit{
    display: contents;

} 
.greek-date-input::-webkit-inner-spin-button, 
.greek-date-input::-webkit-clear-button {
    display: none;
}

.greek-date-input::-webkit-calendar-picker-indicator {
    @apply absolute top-1 right-1 text-black opacity-70
    

}


[popover] {
    /* inset: unset; */
    top: anchor(bottom);
    left: anchor(left);
    /* animation: fade-out 0.7s ease-out; */

}
[popover]:popover-open {
    animation: fade-in 0.3s ease-out;
  }

  [popover]:popover-open::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }

/* Animation keyframes */

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
  
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleX(1);
      /* display needed on the closing animation to keep the popover
      visible until the animation ends */
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleX(0);
      /* display: none not required here because it is the default value
      for a closed popover, but including it so the behavior is clear */
      display: none;
    }
  }
  
  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0);
    }
  
    100% {
      background-color: rgb(0 0 0 / 0.25);
    }
  }

@position-fallback --aligned {
    @try {
        top: anchor(top);
        left: anchor(right);
    }

    @try {
        top: anchor(bottom);
        left: anchor(right);
    }

    @try {
        top: anchor(top);
        right: anchor(left);
    }

    @try {
        bottom: anchor(bottom);
        left: anchor(right);
    }

    @try {
        right: anchor(left);
        bottom: anchor(bottom);
    }
}

@position-fallback --flip {
    @try {
        bottom: anchor(top);
        left: anchor(left);
    }

    @try {
        right: anchor(right);
        bottom: anchor(top);
    }

    @try {
        top: anchor(bottom);
        left: anchor(left);
    }

    @try {
        top: anchor(bottom);
        right: anchor(right);
    }
}
/* #date-picker-container {
    anchor-name: --date-container;
}  */
#calendar {
    anchor-default: --date-container;
    position-fallback: --flip;
    /* translate: 20% 147%; */
  }
/* [popovertarget="calendar"] {
    anchor-name: --calendar;
} */

/* #context {
    anchor-default: --calendar;
    position-fallback: --aligned;
} */

/* #calendar {
    anchor-name: --calendar;
    anchor-default: --calendar;
    position-fallback: --flip;
  }

  [popovertarget="calendar"] {
    anchor-name: --date-container;;
}*/

